# DISCORD CREDENTIALS
BOT_APP_ID=
BOT_PUB_KEY=
DISCORD_TOKEN=


# LAVALINK CONFIGURATION
LAVALINK_PASSWORD=
LAVALINK_HOST=
LAVALINK_PORT=

# PROXY STREAM
STREAM_SECRET=
#Current Machine's Local Port
STREAM_HOST=
STREAM_PORT=

# OLD VARIABLES
FFMPEG_PATH=