# DISCORD CREDENTIALS
BOT_APP_ID=
BOT_PUB_KEY=
DISCORD_TOKEN=

# MONGO DB CONFIGURATION
CONNECTION_STRING=
DATABASE_NAME=

# LAVALINK CONFIGURATION
LAVALINK_PASSWORD=
# Machines Loopback Address
LAVALINK_HOST=
LAVALINK_PORT=

# PROXY STREAM
STREAM_SECRET=
# Current Machine's Local Port
STREAM_HOST=
STREAM_PORT=

# LEGACY VARIABLES (v1.0-ffmpeg)
FFMPEG_PATH=